<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
A simple weather app to display the current weather in a given location to the user. It uses <%= link_to('the Open Weather Map JSON API', 'http://openweathermap.org/API') %>  to get real weather data.
</p>
